
resourcepacks/
/backups
/xaero/world-map
/xaero/world-map
/xaero/world-map
/xaero
emi.json
usercache.json
/screenshots
/saves/New World (1)
/saves/New World
saves/New World (2)/session.lock
saves/New World (2)/data/DistantHorizons.sqlite
/saves/New World (3)
/saves/New World - Kopie
/xaero/world-map/New World (3)
/xaero/world-map/New World (3)
/xaero/world-map/New World (3)
/xaero/world-map/New World (3)
/xaero/world-map/New World (3)
/saves/Server test
Distant_Horizons_server_data/Minecraft+Server/ggd4e1f11e8bk@minecraft@@overworld/DistantHorizons.sqlite
Distant_Horizons_server_data/rhsmc%2Educkdns%2Eorg25565/ggd4e1f11e8bk@minecraft@@the_end/DistantHorizons.sqlite
Distant_Horizons_server_data/rhsmc%2Educkdns%2Eorg25565/ggd4e1f11e8bk@minecraft@@the_nether/DistantHorizons.sqlite
Distant_Horizons_server_data/rhsmc%2Educkdns%2Eorg25565/ggd4e1f11e8bk@minecraft@@overworld/DistantHorizons.sqlite
mods/
/mods
/_IAS_ACCOUNTS_DO_NOT_SEND_TO_ANYONE
config/ias.json
/.vscode
fancymenu_data/last_world.fmdata
kubejs\ignore
kubejs\probe
crash-reports
/crash-reports
/kubejs/ignore
/crash-reports
/logs
/map exports
minecraftinstance.json
options.txt
servers.dat
servers.dat_old
usercache.json
usernamecache.json
